<div class="panel-heading">
    <a href="/admin/gift/edit" style="height: 18px;padding: 6px">添加奖品</a>
    (总共{{.Total}}条记录)
</div>

<table class="table">
    <thead>
        <tr>
            <th>位置</th>
            <th>ID</th>
            <th title="【奖品池数量】">名称</th>
            <th title="总数 / 剩余数">数量</th>
            <th>概率</th>
            <th title="单位是天">周期</th>
            <th>图片</th>
            <th>类型</th>
            <th>数据</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>更新时间</th>
            <th>管理</th>
        </tr>
    </thead>
</table>